:root{
    --gradient: linear-gradient(
        45deg,
        #5e5831,
        #0a2442,
        #0e1925
    );
}

body{
    background: #ddd;
    background-image: var(--gradient);
    background-size: 400%;
}

h1{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

    text-align: center;
    color: white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    margin: 0;
    padding:30px;
    box-sizing: border-box;
    text-align:center;
    font-size: 16px;
    color: white;
    margin-bottom: 4px;
}