*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: #0e171f;
 }
 