*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: #0e171f;
 }

 header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #4b4c52;
  }

h1{
padding: 20px;
text-align: center;
color: gold;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.PnN{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 13.8%;
    left:1%;
    font-size: 24px;
    }    

.Module{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 13.8%;
    left:65%;
    font-size: 24px;
}    

.Design{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 13.8%;
    left:80%;
    font-size: 24px;
}    

.Index{
    color: rgb(255, 255, 255);
    text-decoration: underline dashed gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 13.9%;
    left:44%;
    font-size: 24px;
}    

.Portfolio{
    color: rgb(255, 255, 255);
    text-decoration: underline dashed aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 35%;
    left:43%;
    font-size: 24px;
}    

.Blog{
    color: rgb(255, 255, 255);
    text-decoration: underline dashed aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 55%;
    left:43%;
    font-size: 24px;
}    

.Contact{
    color: rgb(255, 255, 255);
    text-decoration: underline dashed aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 63%;
    left:42%;
    font-size: 24px;
}    

img {
    max-width: 100%;
    height: auto;
    position:fixed;
    top: 18%;
    left:41%;
    border-radius: 8px;
  }

.PortImage {
    width: 20%;
    height: 30%;
    position: fixed;
    top: 39%;
    left:41%;
    border-radius: 8px;
  }

  .PnNBox{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    width: 770px;
    height: 600px;
    padding: 40px;
    border: 5px solid gray;
    margin: 0;
  }

  .MEBox{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    width: 320px;
    height: 600px;
    position: fixed;
    top: 13.8%;
    left:62%;
    padding: 40px;
    border: 5px solid gray;
    margin: 0;
  }

  .DTBox{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    width: 390px;
    height: 740px;
    position: fixed;
    top: 13.8%;
    left:79%;
    padding: 40px;
    border: 5px solid gray;
    margin: 0;
  }





  nav {
    order: 1;
  }
  
  .nav__links a,
  .overlay__content a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    font-size: 16px;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color:gold;
  }
  